#video{
    width: 100%;
    height: 500px;
    border: none;
}
.navbar-nav{
    position: center;
}
.travel-mainDiv
{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}
.travel-mainDiv h5, .travel_mainDiv p
{
    margin: 20px;
}
.